@import "../../styles/variables.scss";
.button {
  width: 100px;
  height: 35px;
  color: #ffffff;
  background-color: $color-blue;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
}
