@import "../../styles/variables.scss";

.modal {
  position: absolute;
  top: 20px;
  right: 200px;
  min-width: 250px;
  padding: 10px 10px 30px;
  background-color: $color-light;
  border-radius: 3px;
  border: 1px solid $color-dark;
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    font-size: 1em;
    color: $color-text;
    cursor: pointer;
  }
  &__confirm {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: $color-blue;
    color: $color-text;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
